<h2>Connections you have claimed</h2>
<br>


<div class="row">
<% @claim_opportunity.each do |claim_opportunity| %>

  <div class="col-md-3">
  <div class="paddingbottom">
  <div class="border1">
  <div class="boxesbackground">
  
  <%= claim_opportunity.volunteer_opportunity.user.name %><br>
  </div>
  <div class="descriptiontextpadding">
  <%= claim_opportunity.volunteer_opportunity.Organization %><br>
  </div>
  
  <center>
  <div class="boxesbackground">
  <%= link_to 'Learn More', claim_opportunity.volunteer_opportunity, class: 'orangefont' %><br>
  </div>
  </center>


  </div>
  </div>
  </div>
<% end %>
  </div>





