<p id="notice"><%= notice %></p>

<p>
  <strong>Please explain why you are interested in this opportunity:</strong>
  <%= @claim_opportunity.please_explain_why_you_are_interested_in_this_opportunity %>
</p>

<%= link_to 'Edit', edit_claim_opportunity_path(@claim_opportunity) %> |
<%= link_to 'Back', claim_opportunities_path %>
