<div class="container-fluid">
	<h1>Edit <%= @volunteer_opportunity.Organization %> Connection</h1>


	<%= render 'form' %>

	<%= link_to 'View', @volunteer_opportunity %> |
	<%= link_to 'Back', volunteer_opportunities_path %>
</div>
