<div class="container">
	<h1 class="text-center">Edit <%= @volunteer_opportunity.Organization %> Connection</h1>


	<%= render 'form' %>

	<%= link_to 'View', @volunteer_opportunity %> |
	<%= link_to 'Back', volunteer_opportunities_path %>
</div>
