/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h2 {
	font-family: 'Droid Sans', sans-serif !important;

}

h4 {
	font-family: 'Droid Sans', sans-serif !important;

}

p {
	font-family: 'Open Sans', sans-serif !important;
}
/* fonts needed for all of the headers and body text */


 
 .volunteer-checkbox {
 	margin-top: 148px;
 	background: #4dbfbf !important;
 	height: 90px;

 }
  .organization-checkbox {
 	margin-top: 148px;
 	background: #6d6d6d !important;
 	height: 90px;
 	margin-left: 10px;

 }
 .label-checkbox {
 	margin-top: 15px;
 	text-align: center;
 }

/* Start at profile tags to edit stylings*/
.profile-page p{
	font-family: 'Open Sans', sans-serif; 
	font-size: 1.5rem;
}

.profile-page h2{
	font-family: 'Droid Sans', sans-serif;


}

	

.profile-page {
	min-height: 1000px;
	width: 95% ;
}

.profile-info {

	margin-top: 10px;
	background-color: grey;
	text-align: left !important;
	border: 0px solid black !important;
	font-size: 2rem;
	height: 20rem;
	width: 45rem;
	padding: 0;
}

.profile-info p{
	text-align: left;
	padding: 10px;
	color: white;


}

.name-profile{
	font-size: 2rem;
	margin-right: 50px;
	margin-top: 10px;

}

.name-profile{
	float: left;

}

.name-profile h2 {
 	float: left;
 	margin-top: 0px !important;
}

.name-profile p {
 	float: left;
 	margin-top: 30px !important;
}

.profile-pic {
 	 width: 200px;
 	 height: 200px;
 	 background-size: cover;
 	 display: block;
 	 border-radius: 100px;
 	 -webkit-border-radius: 100px;
 	 -moz-border-radius: 100px;
 }

.connections-claimed {
	background-color: #4DBFBF;
	height: 7rem;
	color: white;

}

.connections-claimed h2{
	text-align: center;
	color: white;
	padding-top: 15px;	

}

.my-causes {

	margin-top: 10px;
	background-color: #4DBFBF;
	border: 0px solid black !important;
	font-size: 2rem;
	height: 30rem;
	width: 45rem;

}

.my-causes p{
	text-align: left;
	margin-left: 10px;
	padding-top: 10px;
	color: white;

}


.my-preferences {

	margin-top: 10px;
	background-color: #4DBFBF;
	border: 0px solid black !important;
	font-size: 2rem;
	height: 30rem;
	width: 91rem;
	color: white;
}

.my-preferences, h3{

	text-align: center;
	margin-top: 10px !important;
} 
/* The end of profile stylings*/


.btn-primary {
	background: #4dbfbf !important;
	border: 1px solid #4dbfbf !important;
	opacity: 1.0 !important;
}
.btn-success{
	background: #4dbfbf !important;
	border: 1px solid #4dbfbf !important;
	opacity: 1.0 !important;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center !important;
}
.form input {
	opacity: 2;
}
.navbar  {
	background: #6d6d6d;
	border: none;
	margin-bottom: 0px !important;
	border-radius: 0px !important;
}      
.navbar-default {
	border: none !important;
}

.nav a {
	color: white !important;
	padding-right: 15px;

}
.nav {
	padding-top: 15px;
	height: 75px;
}
/* LANDING PAGE STYLE */

.hero-image {
	height: 400px;
	background: url("hero.png") ;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;

}


.hero-image {
	color: white;
}

.landing-page {
	background-color: #d4d4d4;
	min-height: 1000px;
}

.landing-page h1 {
	font-family: 'Droid Sans' !important;
	text-align: center;
	font-size: 3rem;
	border-bottom: 2px solid black;
	padding-bottom: 10px;
}
.organizations-connect {
	margin-top: 100px;

}
.organizations-connect p {
		padding-bottom: 70px;
}

#circle-teal {
	width: 140px;
	height: 140px;
	background: #4dbfbf;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
	margin: 0 auto;
}

#circle-gray {
	width: 140px;
	height: 140px;
	background: #6d6d6d;
		-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
	margin: 0 auto;
}
#circle-gray h2, #circle-teal h2 {
	color: white;
	font-size: 1.2rem;
	text-align: center;
	padding-top: 40%;
}

.organizations-connect p, .volunteer-connect p{
	padding-top: 10px;
	text-align: center;
	font-size: 1.4rem;
}

img.banner {
	width: 100%;
	margin-top: -30px;
}
img.show-image {
	width: 100%;
}
.other-events h2 {
	text-align: left;
	font-size: 2rem;
}
.other-events {
	background: #f2f2f2;
	padding: 15px;

}
.show-top {
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
}

h1.page-title {
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
}



.orangefont {color: white;
             font-size: 24pt;

}


.boxesbackground {
   background-color: #D4D4D4;
    padding: 5px;
    text-align: center;
    height: 30rem; 
}

.boxheader {
	padding-top:2px;
	height: 4rem;
	background-color: #D4D4D4;
	text-align: center;
}



.paddingbottom {
	padding-bottom: 40px;
	font-size: 20px;

}

.descriptiontextpadding {
	padding: 5px;
	padding-bottom: 20px; 
	background-color: #D4D4D4;
}


body { background-color:#F2F2F2 !important; }

.btn.btn-success.navbar-btn {
	margin-right: 20px;
}


img.navbar-brand {
	background: none;
	opacity: 2 !important;
	width: 18% !important; /* for some reason it doubles the image at 19% */
	height: 100% !important;
	margin-bottom: -80px;
	margin-top: -5px;
	color: none !important;
}


html, body {
	height: 100%;
}
.container-fluid, .container {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin-top: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}


.h4{

	text-align: left;
	font-size: 12px;
}/* p tags for Claim Volunteer Event page */


/* Starting part of forms CSS */

.container-form{
background-color: #D4D4D4;


}
.edit{
	width: 95rem;
	
}


.btn-lg {
    display: block;
    width:92rem;
    float: left;
}

.btn-sm{
	margin-top: 15px;
	margin-bottom: 15px;
	width:30rem;
	float:center;

}
/* Ending part of forms CSS */



.footer, .push{
	height: 100px; /* .push must be the same height as .footer */
	background: #6d6d6d;


}

 /* .start of styles for the volunteer_opportunities */ 
.subheading{  
	background-color:#4DBFBF;
	text-align: center !important;
	color: white;
	margin-top: 15px;
}

.subheading-top{  
	background-color:#4DBFBF;
	text-align: center !important;
	margin-top: 15px;
	color: white;
}

.subheading h2{  
	margin-bottom: 20px;
}

.subheading-top h2{  
	margin-bottom: 20px;
}


.filter-button {

	margin-left: 15px;
 
}

.btn-primary {
	background: #4dbfbf !important;
	border: 1px solid #4dbfbf !important;
	opacity: 1.0 !important;
}

 /* .start of styles for the volunteer_opportunities */ 














