/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*media all*/





 html {
 	font-size: 14px;
 }

 a {
 	font-size: 1rem;
 	font-family: 'raleway';
 }
 h1 {
 	font-family: 'Catamaran', sans-serif !important;
	text-transform: uppercase;

 }
.listing-box h1 {
	font-family: 'Catamaran', sans-serif !important;
	text-transform: uppercase;
	margin-bottom: 10px;
	text-align: center;
	border-bottom: 1px solid #8856a2;
	color: #f4d6f9;
	font-size: 2.5rem;
}
.listing-box h2 {
	font-family: 'Catamaran', sans-serif !important;
	font-size: 1.5rem;
	color: #f4d6f9 !important;
	text-align: center;
}
.listing-box h3 {
	font-family: 'raleway' !important;
	font-size: 1.4rem;
	text-align: left;
	color: #666666;
	font-weight: bold;
}
.listing-box {
	background-color: white;
-webkit-box-shadow: 10px 10px 43px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 43px -5px rgba(0,0,0,0.75);
box-shadow: 10px 10px 43px -5px rgba(0,0,0,0.75);
margin-bottom: 10px;
}
.listing-box-container {
	padding: 10px;
}
.listing-box a {
	text-decoration: none;
	color: #f4d6f9;
}
.boxfooter {
	background-color: #8856a2;
	color: white;
	text-align: left;
	font-size:1rem;
	padding: 1px;
}
.listing-box span {
	font-size: 1.4rem;
	color: #666666;
	font-weight: normal;

}
.listing-image img {
	object-fit: cover;
	width: 100%;
}

.calendar {
	background-color: #d4d4d4 ;
	padding: 10px;
	border-radius: 5px;
-webkit-box-shadow: 10px 10px 43px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 43px -5px rgba(0,0,0,0.75);
box-shadow: 10px 10px 43px -5px rgba(0,0,0,0.75);
}

.calendar3 {
	background-color: #d4d4d4 ;
	padding: 10px;
	border-radius: 5px;
-webkit-box-shadow: 10px 10px 43px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 43px -5px rgba(0,0,0,0.75);
box-shadow: 10px 10px 43px -5px rgba(0,0,0,0.75);
}


.calendar td {
	text-align: center;
		color: #6d6d6d;

}
.calendar th {
	color: #6d6d6d;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
  padding-top: 20px !important;
}
.calendar2 h2 {
		color: #6d6d6d;
		text-align: center;
}


.calendar2 {
	background-color: #d4d4d4 ;
	padding: 10px;
	border-radius: 5px;
	margin-top: 10px;
-webkit-box-shadow: 10px 10px 43px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 43px -5px rgba(0,0,0,0.75);
box-shadow: 10px 10px 43px -5px rgba(0,0,0,0.75);
}
.calendar2 td {
	text-align: center;
		color: #6d6d6d;

}
.calendar2 th {
	color: #6d6d6d;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
  padding-top: 20px !important;
}
.calendar2 h2 {
		color: #6d6d6d;
}

.main-bio {
	min-height: 500px !important;
}
.organization-profile h1 {
	text-align: center;
		color: #333333 !important;

}
.organization-profile p {
	font-family: 'catamaran', sans-serif !important;
	font-size: 1.4rem;
	color: #333333;
	line-height: 2.2rem;
}
h2 {
	font-family: 'Catarmaran', sans-serif !important;

}

h4 {
	font-family: 'Catarmaran', sans-serif !important;

}

p, th {
	font-family: 'Catarmaran', sans-serif !important;
}

.calender p, th {
	font-family: 'Catarmaran', sans-serif !important;
}
/* fonts needed for all of the headers and body text */






.landingpagebuttons {
	padding-top: 145px;
	margin-right: 20px;
}

.signuppagevolunteerbutton {
	margin-right: 20px;

}

.signuppagebuttons {
	padding-bottom: 20px;

}


 .label-checkbox {
 	margin-top: 15px;
 	text-align: center;
 }

/* Start at profile tags to edit stylings*/
.profile-page p{
	font-family: 'Open Sans', sans-serif; 
	font-size: 1.5rem;
}

.profile-page h2{
	font-family: 'Droid Sans', sans-serif;


}



.profile-page {
	min-height: 1000px;
	width: 95% ;
}

.profile-info {

	margin-top: 10px;
	background-color: grey;
	text-align: left !important;
	border: 0px solid black !important;
	font-size: 2rem;
	height: 20rem;
	width: 45rem;
	padding: 0;
}

.profile-info p{
	text-align: left;
	padding: 10px;
	color: white;


}

.name-profile {
	font-size: 2rem;
	margin-right: 50px;
	margin-top: 10px;
}

.name-profile {
	float: left;

}

.name-profile h2 {
	float: left;
	margin-top: 0px !important;

}

.name-profile p {
	float: left;
	margin-top: 30px !important;
}

.profile-pic {
	 width: 200px;
	 height: 200px;
	 background-size: cover;
	 display: block;
	 border-radius: 100px;
	 -webkit-border-radius: 100px;
	 -moz-border-radius: 100px;
}

.name-profile h2 {
 	float: left;
 	margin-top: 0px !important;
}

.name-profile p {
 	float: left;
 	margin-top: 30px !important;
}

.profile-pic {
 	 width: 200px;
 	 height: 200px;
 	 background-size: cover;
 	 display: block;
 	 border-radius: 100px;
 	 -webkit-border-radius: 100px;
 	 -moz-border-radius: 100px;
 }

.connections-claimed {
	background-color: #4DBFBF;
	height: 7rem;
	color: white;

}

.connections-claimed h2{
	text-align: center;
	padding-top: 15px;	

}

.my-causes {

	margin-top: 10px;
	background-color: #4DBFBF;
	border: 0px solid black !important;
	font-size: 2rem;
	height: 30rem;
	width: 45rem;

}

.my-causes p{
	text-align: left;
	margin-left: 10px;
	padding-top: 10px;
	color: white;

}


.my-preferences {
	margin-top: 10px;
	border: 0px solid black !important;
	font-size: 2rem;
	height: 30rem;
	width: 91rem;
	color: white;

}

.my-preferences, h3{
	text-align: center;
	margin-top: 10px !important;
} 

.info {
	text-align: left;
	padding: 10px;
	color: white;
	margin-top: 10px;
	background-color: #4DBFBF;
	border: 0px solid black !important;
	font-size: 2rem;
	height: 20rem;
	width: 40rem;
}

.info2 {
	text-align: left;
	padding: 10px;
	color: white;
	margin-top: 10px;
	background-color: grey;
	border: 0px solid black !important;
	font-size: 2rem;
	height: 20rem;
	width: 40rem;
}


.info3 {
	text-align: left;
	padding: 10px;
	color: white;
	margin-top: 10px;
	background-color: grey;
	border: 0px solid black !important;
	font-size: 2rem;
	height: 20rem;
	width: 20rem;
	position: right;

}


/* The end of profile stylings*/


.btn-primary {
	background: #4dbfbf !important;
	border: 1px solid #4dbfbf !important;
	opacity: 1.0 !important;
}
.btn-success{
	background: #4dbfbf !important;
	border: 1px solid #4dbfbf !important;
	opacity: 1.0 !important;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center !important;
}
.form input {
	opacity: 2;
}
.navbar  {
	background: #6d6d6d;
	border: none;
	margin-bottom: 0px !important;
	border-radius: 0px !important;
}      
.navbar-default {
	border: none !important;
}

.nav a {
	color: white !important;
	padding-right: 15px;

}
.nav {
	padding-top: 15px;
	height: 75px;
}
/* LANDING PAGE STYLE */

.hero-image {
	height: 400px;
	background: url("hero.png") ;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;

}

.checkboxsignup {

color: white;
font-size: 17px;
padding-bottom: 260px;
padding-top: -100px;


}


.forgotpasslink{
	padding-top: 50px;
}

.hero-image {
	color: white;
}

.landing-page {
	background-color: #d4d4d4;
	min-height: 1000px;
}

.landing-page h1 {
	font-family: 'Catamaran' !important;
	text-align: center;
	font-size: 3rem;
	padding-bottom: 10px;
	color: #6d6d6d;
}
.organizations-connect {
	background: #f2f2f2;
	padding-top: 20px;
	min-height: 450px;
}
.volunteer-connect {
	
	min-height: 380px;
	}
.organizations-connect p {
		padding-bottom: 70px;
}

#circle-teal {
	width: 180px;
	height: 180px;
	background: #4dbfbf;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	border-radius: 90px;
	margin: 0 auto;
}

#circle-gray {
	width: 180px;
	height: 180px;
	background: #6d6d6d;
		-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	border-radius: 90px;
	margin: 0 auto;
}
#circle-purple {
	width: 180px;
	height: 180px;
	background: #8856a2;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	border-radius: 90px;
	margin: 0 auto;
}
#circle-red {
	width: 180px;
	height: 180px;
	background: #db0202;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	border-radius: 90px;
	margin: 0 auto;
}
#circle-gray h2, #circle-teal h2, #circle-purple h2 {
	color: white;
	font-size: 1.9rem;
	text-align: center;
	padding-top: 40%;
	font-family: 'raleway', sans-serif !important;
}

.organizations-connect p, .volunteer-connect p{
	padding-top: 18px;
	text-align: center;
	font-size: 2rem;
	font-family: 'catamaran', sans-serif !important;
	color: #6d6d6d;
}

img.banner {
	width: 100%;
	margin-top: -30px;
}
img.show-image {
	width: 100%;
}
.other-events h2 {
	text-align: left;
	font-size: 2rem;
}
.other-events {
	background: #f2f2f2;
	padding: 15px;

}
.show-top {
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
}

h1.page-title {
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
}



.orangefont {color: white;
             font-size: 24pt;

}


.boxesbackground {
   background-color: #D4D4D4;
    padding: 5px;
    text-align: center;
    height: 30rem; 
}




.paddingbottom {
	padding-bottom: 40px;
	font-size: 20px;

}

.descriptiontextpadding {
	padding: 5px;
	padding-bottom: 20px; 
	background-color: #D4D4D4;
}


body { 

	background: url('sayagata-400px.png') !important; 

}

.btn.btn-success.navbar-btn {
	margin-right: 20px;
}


img.navbar-brand {
	background: none;
	opacity: 2 !important;
	width: 18% !important; /* for some reason it doubles the image at 19% */
	height: 100% !important;
	margin-bottom: -80px;
	margin-top: -5px;
	color: none !important;
}


html, body {
	height: 100%;
}
.container-fluid, .container {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin-top: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}


.h4{

	text-align: left;
	font-size: 12px;
}/* p tags for Claim Volunteer Event page */


/* Starting part of forms CSS */

.container-form{
background-color: #D4D4D4;


}
.edit{
	width: 95rem;
	
}


.btn-lg {
    display: block;
    width: 100%;
    float: left;
}

.btn-sm{
	margin-top: 15px;
	margin-bottom: 15px;
	width:30rem;
	float:center;

}
/* Ending part of forms CSS */



.footer, .push{
	height: 7%; /* .push must be the same height as .footer */
	background: #6d6d6d;


}

 /* .start of styles for the volunteer_opportunities */ 
.subheading{  
	text-align: center !important;
	color: gray;
	margin-bottom: 50px;
}


.subheading h2{  
	margin-bottom: 20px;
	font-family: 'raleway' !important;
	margin-bottom: 10px;
	text-transform: uppercase;

}
div.underline {
	border-bottom: 5px solid #3abdb3;
	width: 15%;
	margin: 0 auto;
}
div.underline-purple {
	border-bottom: 5px solid #8856a2;
	width: 15%;
	margin: 0 auto;
}
div.underline-red {
	border-bottom: 5px solid #db0202;
	width: 15%;
	margin: 0 auto;
}


.filter-button {

	margin-left: 15px;
 
}

.btn-primary {
	background: #4dbfbf !important;
	border: 1px solid #4dbfbf !important;
	opacity: 1.0 !important;
}

 /* .start of styles for the volunteer_opportunities */ 





 /* volunteer and organization button start */
.toggle-btn-grp.cssonly * {
    width:150px;
    height:100px;
    line-height:30px;
}
.toggle-btn-grp.cssonly div {
    display:inline-block;
    position:relative;
 
}

.toggle-btn-grp.cssonly div label {
    position:absolute;
    z-index:0;
    padding:0;
    text-align:center;
}

.toggle-btn-grp.cssonly div input {
    position:absolute;
    z-index:1;
    cursor:pointer;
    opacity:0;
}

.toggle-btn-grp.cssonly div:hover label {
    
    background:#95D9D9; 
}

.toggle-btn-grp.cssonly div input:checked + label {
    background:#4DBFBF;
   

}



.toggle-btn-grp { 
  margin:3px 0; 
}
.toggle-btn { 
    text-align:centre; 
    line-height: 95px !important;
    margin:5px 2px;
    padding:0.4em 3em; 
    color:white; 
    background-color:#6d6d6d; 
    border-radius:5px; 
    display:inline-block; 
   
    cursor:pointer;
}

.toggle-btn-grp.joint-toggle .toggle-btn { 
    margin:5px 0; 
    padding:0.4em 2em; 
    border-radius:0;
    border-right-color:white;
}
.toggle-btn-grp.joint-toggle .toggle-btn:first-child { 
    margin-left:2px; 
    border-radius: 10px 0px 0px 10px; 
}
.toggle-btn-grp.joint-toggle .toggle-btn:last-child { 
    margin-right:2px;  
    border-radius: 0px 10px 10px 0px;
    border-right:solid 1px #CCC;
}


.toggle-btn:hover { 
    border:solid 1px #a0d5dc !important; 
    background:#7bffff;
}


.toggle-btn.success { 
    background:lightgreen;
    border:solid 1px green !important; 
}


.visuallyhidden { 
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px; 
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { 
    clip: auto; 
    height: auto; 
    margin: 0; 
    overflow: visible; 
    position: static; 
    width: auto; 
}
/* volunteer and organization button end */